global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  # Scrape Prometheus Pushgateway (for custom pipeline metrics)
  - job_name: 'pushgateway'
    honor_labels: true
    static_configs:
      - targets: ['prometheus-pushgateway:9091']

  # Scrape StatsD Exporter (for Airflow metrics)
  - job_name: 'airflow'
    static_configs:
      - targets: ['statsd-exporter:9102']
        labels:
          service: 'airflow'

  # MinIO metrics
  - job_name: 'minio'
    metrics_path: /minio/v2/metrics/cluster
    scheme: http
    static_configs:
      - targets: ['minio:9000']
        labels:
          service: 'minio'
